@page "/videos/{Slug}"
@inject IStringLocalizer<Resource> Localize

<div class="jumbotron">
    <div class="media">
        <div class="media-body ml-3">
            <h1 class="h3 media-heading">@Channel?.Slug</h1>
            <RichText Text="@Channel?.Description" ParentObject="@Channel" />
            @if (CanEditChannel)
            {
                <NavLink href=@($"/videos/channel/edit/{Channel?.Slug}") class="btn btn-primary btn-sm mb-2 mr-2">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    @Localize["Edit"]
                </NavLink>
            }
        </div>
    </div>
</div>

<div class="card shadow mb-3">
    <div class="card-body">
        <RichText Text="@Channel?.Description" ParentObject="@Channel" />
    </div>
</div>