<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-no-pad-left">
    <div class="card shadow mt-2 mb-2">
        @{
            if (!string.IsNullOrEmpty(Channel.ThumbnailUrl))
            {
                <NavLink href=@($"/videos/{Channel.Slug}")>
                    <img class="card-img-top" src="@Channel.ThumbnailUrl" />
                </NavLink>
            }
        }
        <div class="card-body">
            <h2 class="h4">
                <small>
                    <NavLink href="@($"/videos/{Channel.Slug}")">@Channel.Name</NavLink>
                </small>
            </h2>
            @Channel.Description
        </div>
    </div>
</div>
