@inject IStringLocalizer<Resource> Localize

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-no-pad-left mb-3">
    <div class="card">
        <NavLink href=@($"/video/{Video.Id}")>
            <img class="card-img-top" src="@Video.ThumbnailUrl" />
        </NavLink>
        <div class="card-body">
            <NavLink href=@($"/video/{Video.Id}")>
                <span class="card-title">@Video.Title</span>
            </NavLink>
        </div>
    </div>
</div>
