<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">
    
    @*<TopbarNavItemAlerts />*@
    
    <TopbarNavItemMessages />

    <div class="topbar-divider d-none d-sm-block"></div>
    
    <TopbarNavItemUserInfo />

</ul>
