<span>
    @{
        if (ParentObject == null)
        {
            <Loading ParentObject="@ParentObject" />
        }
        else
        {
            foreach (var element in Elements)
            {
                if (element.IsEmbed)
                {
                    <Embed Source="@element.Text" />
                }
                else
                {
                    <span>@((MarkupString)element.Text)</span>
                }
            }
        }
    }
</span>
