<span>
    @{
        if (ParentObject == null)
        {
            <Loading ParentObject="@ParentObject" />
        }
        else
        {
            @((MarkupString)RenderedText)
        }
    }
</span>
