@page "/messages/{Id}"
@inject IStringLocalizer<Resource> Localize

<div class="card shadow mt-2 mb-2">
    <div class="card-body">
        <GroupHeader Group=@Group />
    </div>
</div>

<Chat GroupId="@Id" />
