@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{var siteName = Configuration["SiteName"];}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] | @siteName</title>
    <base href="/" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />

    <!-- Metadata -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BlazorWorld | Serving the Blazor Development Community" />
    <meta property="og:description" content="BlazorWorld is a community website and CMS, built to serve the Blazor development community." />
    <meta property="og:image" content="https://blazorworld.com/images/main.jpg" />
    <meta name="description" content="BlazorWorld is a community website and CMS, built to serve the Blazor development community.">
    <meta name="keywords" content="blazor, c#, aspnet, aspnetcore, asp.net, asp.net core, dotnet, programming, developers, microsoft" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="BlazorWorld | Serving the Blazor Development Community">
    <meta name="twitter:description" content="BlazorWorld is a community website and CMS, built to serve the Blazor development community.">
    <meta name="twitter:site" content="@@BlazorWorld">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
</head>

<body id="page-top">
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
