@using BlazorWorld.Web.Client.Shell.Components

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly"
            AdditionalAssemblies="new[] {
                                      typeof(Shell.Route).Assembly,
                                      typeof(Modules.Admin.Route).Assembly,
                                      typeof(Modules.Articles.Route).Assembly,
                                      typeof(Modules.Blogs.Route).Assembly,
                                      typeof(Modules.Events.Route).Assembly,
                                      typeof(Modules.Forums.Route).Assembly,
                                      typeof(Modules.Invitations.Route).Assembly,
                                      typeof(Modules.Messages.Route).Assembly,
                                      typeof(Modules.Profiles.Route).Assembly,
                                      typeof(Modules.Videos.Route).Assembly,
                                      typeof(Modules.Wikis.Route).Assembly
                                  }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
