@page "/"
@namespace BlazorWorld.Web.Server.Pages
@using BlazorWorld.Web.Client

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF35GLH"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<app>
    @if (!HttpContext.Request.Path.StartsWithSegments("/authentication"))
    {
        <component type="typeof(App)" render-mode="Static" />
    }
    else
    {
        <br />
        <br />
        <center>
            <h1>
                <span class="spinner-border m-5" style="width: 7rem; height: 7rem;" role="status">
                </span>
            </h1>
        </center>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    }
</app>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
