@page "/"

<div class="jumbotron">
    <h1>Welcome to BlazorWorld!</h1>

    BlazorWorld is a
    <a href="https://socpub.com/articles/social-publishing-systems-to-topple-the-cms-2474" target="_blank">
        social publishing system
    </a>.
</div>


